{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "^next(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/lib/api/generated/(.*)",
    "^@/lib/api/(.*)",
    "^@/lib/(.*)",
    "^@/components/ui/(.*)",
    "^@/components/shared/(.*)",
    "^@/components/providers/(.*)",
    "^@/components/(.*)",
    "^@/hooks/(.*)",
    "^@/app/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
